/* кольори */
:root {
  --text-color: #757575;
  --white-color: #fff;
  --title-color: #212121;
  --accent-color: #f3cd21;
  --footer-bgc-color: #ffe985;
  --hiro-button-hover: #f3cd21;
  --light-grey-color: #f5f4fa;
  --header-logo-color: #000;
  --footer-link-color: #ffffff99;
  --portfolio-border-color: #eeeeee;
  --header-border-color: #ececec;
  --icon-color: #aeb1b8;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --color-working-bgc: rgba(47, 48, 58, 0.8);
  --color-bg-overlay: #f3cd21c7;
  --color-backdrop-modal: rgba(0, 0, 0, 0.2);
  --border-modal-icon: rgba(0, 0, 0, 0.1);
  --btn__overlay: #ffe985;
}
/* боді */
body {
  font-family: Roboto, Raleway, sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}
/* обнулення */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
pre {
  margin: 0;
  margin: 0;
  padding: 0;
  padding: 0;
}
/* контейнер */
.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img {
  display: block;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  text-decoration: none;
  color: var(--header-logo-color);
  font-size: 24px;
}

.logo:hover {
  color: var(--accent-color);
}

.contact-link {
  display: block;
  color: var(--text-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
}
/* стилізація іконок контакт */

.contact-list {
  display: flex;
  list-style: none;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .contact-list {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  .contact-link {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.contact-link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  fill: var(--icon-color);
  transition: color 250ms var(--cubic-bezier), fill 250ms var(--cubic-bezier);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.hero {
  background-image: linear-gradient(
      180deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0) 100%
    ),
    url("./img/hero-mobile.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0) 100%
      ),
      url("./img/hero.jpeg");
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0) 100%
      ),
      url("./img/hero.jpeg");
    background-size: cover;
  }
}
.hero__title {
  text-align: center;
  padding-top: 360px;
  padding-bottom: 40px;
  font-size: 40px;
  font-weight: 500;
  color: var(--white-color);
}

@media screen and (max-width: 480px) {
  .hero__title {
    font-size: 24px;
  }
}

.hero__text {
  color: var(--white-color);
  text-align: center;
}

.hero__anhor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  padding-bottom: 40px;
}

.hero__icon {
  fill: var(--white-color);
  stroke: var(--white-color);
  transition: color 250ms var(--cubic-bezier), fill 250ms var(--cubic-bezier);
}
.hero__icon:hover,
.hero__icon:focus {
  fill: var(--accent-color);
  stroke: var(--accent-color);
}
.about {
  padding-top: 80px;
}

.about__list {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .about__item {
    width: 350px;
  }
}
@media screen and (min-width: 768px) {
  .about__item {
    width: 250px;
  }
}

.about__item {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.about__item-title {
  color: var(--title-color);
}

.about__img-container {
  border-radius: 10px;
  overflow: hidden;
}
.about__text {
  text-align: center;
}

.about__img {
  object-fit: cover;
}

.gallery {
  padding-top: 80px;
}
.gallery__title {
  text-align: center;
  color: var(--title-color);
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 40px;
}

.gallery__item-img {
  width: 180px;
  height: 240px;
  object-fit: cover;
  border-radius: 10px;
  transition: all 250ms;
  display: block;
}

.gallery__text {
  color: var(--title-color);
  text-align: center;
}

.gallery__link {
  text-decoration: none;
  height: 100%;
}

.gallery__item--overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-bg-overlay);
  transform: translateY(101%);
  color: var(--header-logo-color);
  transition: transform 250ms var(--cubic-bezier);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 12px;
}

.gallery__link:hover,
.gallery__link:hover .gallery__item--overlay,
.gallery__link:hover .gallery__item-img {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  overflow: visible;
  transform: translateY(0);
  width: 380px;
  height: 440px;
}

.gallery__overlay-box {
  position: relative;
  overflow: hidden;
}

.btn__overlay-container {
  display: flex;
  justify-content: center;
}

.btn__overlay {
  padding: 8px 10px 8px 10px;
  border: none;
  border-radius: 5px;
  color: var(--text-color);
  background-color: var(--btn__overlay);
  cursor: pointer;
}

.btn__overlay:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.footer {
  background-color: var(--footer-bgc-color);
  height: 180px;
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-backdrop-modal);
  opacity: 1;
  transition: opacity 250ms var(--cubic-bezier);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 96%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--white-color);
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and(min-width:1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  text-decoration: none;
  fill: var(--header-logo-color);
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-modal-icon);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms var(--cubic-bezier);
}

.modal__button :hover,
.modal__button :focus {
  fill: var(--accent-color);
}
